.nav-bar {
    display: flex;
    /* background: rgb(238, 238, 238);
    background: linear-gradient(23deg, rgba(238, 238, 238, 1) 0%, rgba(108, 188, 225, 1) 100%); */
    background: rgb(231, 226, 242);
    background: linear-gradient(156deg, rgba(231, 226, 242, 1) 7%, rgba(85, 181, 252, 1) 63%, rgba(25, 178, 190, 1) 91%);
    height: 60px;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar .logo {
    padding: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.nav-bar .nav {
    width: 100%;
    height: 50px;
    margin-right: 80px;
}

.nav-bar .nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}

.nav-bar .nav ul li {
    list-style: none;
    padding: 0 0 40px 40px;

}

.nav-bar .nav ul li a {
    text-decoration: none;
    color: #ffff;
    position: relative;
    transition: all 0.6s ease;
    font-size: 18px;

}

.nav-bar .nav ul li a:hover {
    color: #fff200;
}

.nav-bar .nav ul li a:active {
    color: #fff200;
}

.nav-bar .nav ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: gold;
    bottom: 0;
    left: 0;
    transition: all 0.6s ease;
}

.nav-bar .nav ul li a:hover:before {
    width: 100%;
}

.bar {
    display: none;
    margin-top: 18px;
    position: absolute;
    left: 85%;
}

.bar .barLine {
    width: 35px;
    height: 5px;
    background-color: #ffff;
    margin: 6px 0;
    border-radius: 10px;
}

@media (max-width:868px) {
    .nav-bar .nav ul {
        display: flex;
    }

    .bar {
        display: block;
    }
}

@media (max-width:968px) {
    .nav-bar .nav {
        margin-right: 50px;
    }
}

.nav-model {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-model .navDiv {
    width: 80%;
    background: rgb(238, 238, 238);
    background: linear-gradient(290deg, rgba(238, 238, 238, 1) 0%, rgba(108, 188, 225, 1) 47%);
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.nav-model .navDiv ul {
    list-style: none;
}


.nav-model .navDiv ul li a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
    position: relative;
    font-size: 18px;
}

.nav-model .navDiv ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: gold;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all 0.6s ease;
}

.nav-model .navDiv ul li a:hover::before {
    width: 100%;
}

.nav-model .navDiv ul li a:hover {
    color: #fff200;
}

.nav-model .navDiv ul li a:active {
    color: #fff200;
}

.nav-model .navDiv ul li a:hover {
    background-color: rgba(52, 52, 52, 0.1);
}